@charset "UTF-8";

header {
    background-color: #ff017b;
}

#burger {
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
    float: right;

    color: white;

    background-color: transparent;

    border: none;

    margin: 12px 8px;

    border-radius: 10px;
}

#burger:active {
    background-color: #ffffff55;
}

#burger > i {
    font-size: 4em;
}

.menu {
    overflow: visible;

    max-width: 750px;
    height: 80px;

    padding: 2px 8px;

    margin: auto;
}

.menu > a > img {
    position: absolute;

    max-width: 80px;
}

.slogan {
    background-color: white;
}

#navbar {
    display: none;
    position: absolute;

    top: 80px;
    left: calc(100vw - 86px);

    background-color: #ff017b;

    list-style: none;

    border-radius: 0 0 0px 10px;

}

.menu li > a {
    -webkit-tap-highlight-color: transparent;

    display: block;

    color: white;

    font-weight: bold;
    
    text-align: center;
    text-decoration: none;

    padding: 30px 2vw;
}

.menu li > a:active {
    background-color: #ffffff55;
}

.menu li > a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 740px) {
    .menu {
        height: 100px;
        padding: 2px 0;
    }

    .menu > a > img {
        max-width: 100px;
    }

    .menu li > a {
        font-size: 1.2em;
        padding: 40px;
    }

    .menu > button {
        display: none;
    }

    #navbar {
        display: block;
        position: relative;

        top: 0;
        left: 0;

        background-color: transparent;

        margin-right: 0;
        margin-left: auto;
    
        width: fit-content;
        height: fit-content;
    }
    
    .menu li {
        display: inline-block;
    }
}